/* .create-button {
    background-color: rgb(2, 94, 2) !important;
} */

.parent-container {
    display: grid;
    grid-template-columns: 1fr auto; /* Search bar takes most space, button stays fixed */
    align-items: center; 
    gap: 5px;
}

.search-area {
    display: grid;
    align-items: center;
}

.create-area {
    display: grid;
    align-items: center;
    justify-content: end; 
    padding-right: 10px;
}
