.container {
    display: flex;
    background-color: #e6e6e6;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
  
.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.card-text {
    font-size: 25px;
    margin: 0%;
    padding: 0%;
}
  
.lower-p {
    font-size: 16px;
}
  