/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #354052;
    color: #adb5bd;
    margin-left: -250px;
    transition: all 0.5s;
  }
  
  .sidebar.is-open {
    margin-left: 0;
    transition: .5s;
  }
  
  
  .sidebar-header {
    background: #313b4c;
    color: #adb5bd;
    padding: 20px;
    display: flex
;
    align-items: anchor-center;
  }
  
  .sidebar-header h3{
    color: #fff;
    padding: 1em;
  }
  
  .sidebar ul p {
    color: #fff;
    padding: 10px;
  }
  
  .collapse.show, 
  .collapsing {
    background: #313b4c;
  }
  
  .nav-item {
    /*color: #ced4da;*/
    color: #adb5bd;
    font-weight: 300;
  }
  
  .nav-item.open {
    color: #e9ecef;
    background: #313b4c;
  }
  
  .nav-item.active {
    color: #e9ecef;
    background: #2d3646 !important;
  }
  
  .nav-item:hover {
    background: #313b4c;
    color: #fff;
    transition: .2s;
  }
  
  .nav-item .svg-inline--fa {
    color: inherit;
  }
  
  li a.dropdown-toggle::after {
    display: inline-flex;
    position: relative;
    left: 60%;
    top: 10%
  }
  
  .sidebar-header > button {
    position: relative;
    float: right;
    margin: .5em;
    font-size: 2rem;
    cursor: pointer;
    display: none;
  }

  .nav-link,
  .nav-link:hover,
  .nav-link:focus {
  color: inherit !important;
  text-decoration: none !important;
  transition: all 0.2s !important;
}

accordion-header,
accordion-header:hover,
accordion-header:focus {
    color: inherit !important;
    text-decoration: none !important;
    transition: all 0.2s !important;
}

/* ---------------------------------------------------
    Accordion STYLE
----------------------------------------------------- */


.accordion-button {
  background-color: transparent !important;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.accordion-button:not(.collapsed) {
    color: #e9ecef !important;
}
.accordion-button::after {
  background-image: url('/down-arrow.png') !important;
}

.accordion-item{
  background-color: #354052 !important;
  border: none !important;
  padding: 0;
}
.accordion-item button{
  color: #adb5bd;
  font-weight: 300;
  border-radius: 0 !important;
  padding: .5rem 1rem;
}
.accordion-item button:hover {
  background: #313b4c !important;
  color: #fff;
  transition: .2s;
}
.accordion-body{
  background-color: #354052 !important;
}